<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}"></a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" >logout</button>
    </form>
    {%else%}
    <h1>
        Home Movies
    </h1>
    <div>
        <a href="{%url 'login'%}">Iniciar sesion</a>
    </div>
    <br>
    <div>
        <a href="{%url 'registro'%}">Registrarse</a>

    </div>

    {%endif%}

   




</body>

</html>