{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/3116dcd1bd.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../{% static 'style.css' %}">
    <title>Iniciar Sesion</title>
</head>
<body id="loginbody">
    <video id="background-video" muted autoplay loop>
        <source src="{% static 'videos/fondo.mp4' %}" type="video/mp4">
    </video>
    <section>
        <div class="contenedor">
            <div class="formulario">
                <form method="post" class="" action="{%url 'login' %}">
                    <h2>Iniciar Sesión</h2>
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {%for field in form%}
                    <div class="input-contenedor">
                        {% render_field field%}
                        {{field.label_tag}}
                        
                    </div>
                    {%endfor%}
                    <div class="olvidar">
                        <label for="#">
                            <!-- <input type="checkbox"> Recordar -->
                            <a href="{%url 'forget_pass'%}">¿Olvidaste tu contraseña?</a>
                        </label>
                    </div>
                    <button type="submit">Iniciar Sesión</button>
                </form>
                <div>
                    <div class="registrar">
                        <p>¿No tienes una cuenta? <a href="{% url 'registro' %}"> Registrate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../{% static 'script.js' %}"></script>
</body>
</html>
{% endblock %}